body{
    background-color:#495057;
    position: absolute;
    margin: auto;
    width: 50%;
    height: 50%;
    text-align: center;
}
h5{
    color: rgb(255, 255, 255)!important;
    text-align: center;
}

p{
    color: rgb(255, 255, 255)!important;
    font-family: Helvetica;
    font-size: 11px;
}


.btn_social { 
	width:100%; 
	float:left; 
	display:flex; 
	margin:auto; 
}
.btn_social ul  { 
	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}
.btn_social ul li  { 
	position:relative; 
	background:#555555; 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}
.btn_social ul li a  { 
	width:50px; 
	height:50px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	transition:.4s;
}
.btn_social ul li::before { 
	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#2fcacf; 
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}
.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:#555555; }


.card {
	background-color: #8a8a8a;
	box-shadow: 10px 10px;
	margin: 0 auto!important; /* Added */
	float: none!important; /* Added */
	margin-bottom: 10px!important; /* Added */
}
